table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
   
   
}

.vl {
    border-right: 1px solid black;
    height: 300px;
  }
 .button{
     text-align: center;
     margin-top: 4%;
 }



