.background-image{
    --background: url("../home/birthday-cupcake_teal.jpg")  0 0/100% 100% no-repeat;

    // width:20%;
    // height:50px;
   

}

header{
    width:20%;
    height:600px;
    margin-left: auto;
    margin-right: auto;
  }


h2{
    position:absolute;
    right: 16px;
    font-size: 30px;
    bottom:0px;
   
}
h1{
text-align: center;
}